span{
	text-align: center;
	font-family: 'Rajdhani', sans-serif;

}
h1{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
}
body{
	background: url(https://www.ilovewallpaper.co.uk/images/products/1563188536-99184500.jpg);;
}
#p1{
	width: 420px;
	height: 220px; 
	margin-right: 10px;
}
.gallery{
	text-align: center;
}